# Install with: pip install -r requirements.txt

# Common utilities
numpy>=1.23
tqdm>=4.60

# Required by scripts/compute_zigzag.py
-e ./zz-top[all]

# Required by scripts/compute_ablation.py
pandas>=1.5
scikit-learn>=1.2
torch>=2.0

# Required by notebooks/*
matplotlib>=3.7
scipy>=1.9
jupyter>=1.0
